spring.datasource.url=jdbc:postgresql://db:5432/bnmo_db
spring.datasource.username=bnmo
spring.datasource.password=bnmo

spring.mvc.pathmatch.matching-strategy = ANT_PATH_MATCHER

apilayer.url=https://api.apilayer.com
apilayer.apikey=